wasabi>=0.9.1,<1.1.0
cloudpathlib>=0.7.0,<0.11.0
smart-open>=5.2.1,<7.0.0
typer>=0.3.0,<0.8.0
requests>=2.13.0,<3.0.0
tqdm>=4.38.0,<5.0.0
pydantic>=1.7.4,!=1.8,!=1.8.1,<1.11.0
srsly>=2.4.4,<3.0.0
confection>=0.0.3,<0.1.0
pytest>=5.2.0,!=7.1.0
mypy>=0.980,<0.990; platform_machine != "aarch64" and python_version >= "3.7"
types-requests
